@import url("https://fonts.googleapis.com/css?family=Yeseva+One");
@import url("https://fonts.googleapis.com/css?family=Lato");
.container {
  padding-left: 13%;
  padding-right: 13%;
}

.row:after {
  display: block;
  clear: both;
  content: '';
}

.clear:before, .clear:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

.clear:after {
  clear: both;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row + .row {
  margin-top: 3%;
}

@media only screen and (max-width: 1140px) {
  .row {
    display: block !important;
  }
}

[class^="col-"] {
  float: left;
  margin-right: 3%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

[class^="col-"]:last-child {
  margin-right: 0%;
}

.col-lg-1 {
  width: 5.33333%;
}

.col-lg-2 {
  width: 13.91667%;
}

.col-lg-3 {
  width: 22.5%;
}

.col-lg-4 {
  width: 31.08333%;
}

.col-lg-5 {
  width: 39.66667%;
}

.col-lg-6 {
  width: 48.25%;
}

.col-lg-7 {
  width: 56.83333%;
}

.col-lg-8 {
  width: 65.41667%;
}

.col-lg-9 {
  width: 74%;
}

.col-lg-10 {
  width: 82.58333%;
}

.col-lg-11 {
  width: 91.16667%;
}

.col-lg-12 {
  width: 100%;
}

@media only screen and (max-width: 1440px) {
  .col-xl-1 {
    width: 5.33333%;
  }
  .col-xl-2 {
    width: 13.91667%;
  }
  .col-xl-3 {
    width: 22.5%;
  }
  .col-xl-4 {
    width: 31.08333%;
  }
  .col-xl-5 {
    width: 39.66667%;
  }
  .col-xl-6 {
    width: 48.25%;
  }
  .col-xl-7 {
    width: 56.83333%;
  }
  .col-xl-8 {
    width: 65.41667%;
  }
  .col-xl-9 {
    width: 74%;
  }
  .col-xl-10 {
    width: 82.58333%;
  }
  .col-xl-11 {
    width: 91.16667%;
  }
  .col-xl-12 {
    width: 100%;
  }
}

@media only screen and (max-width: 1245px) {
  .col-xm-1 {
    width: 5.33333%;
  }
  .col-xm-2 {
    width: 13.91667%;
  }
  .col-xm-3 {
    width: 22.5%;
  }
  .col-xm-4 {
    width: 31.08333%;
  }
  .col-xm-5 {
    width: 39.66667%;
  }
  .col-xm-6 {
    width: 48.25%;
  }
  .col-xm-7 {
    width: 56.83333%;
  }
  .col-xm-8 {
    width: 65.41667%;
  }
  .col-xm-9 {
    width: 74%;
  }
  .col-xm-10 {
    width: 82.58333%;
  }
  .col-xm-11 {
    width: 91.16667%;
  }
  .col-xm-12 {
    width: 100%;
  }
}

@media only screen and (max-width: 1140px) {
  .row {
    display: block !important;
  }
  .col-md-1 {
    width: 5.33333%;
  }
  .col-md-2 {
    width: 13.91667%;
  }
  .col-md-3 {
    width: 22.5%;
  }
  .col-md-4 {
    width: 31.08333%;
  }
  .col-md-5 {
    width: 39.66667%;
  }
  .col-md-6 {
    width: 48.25%;
  }
  .col-md-7 {
    width: 56.83333%;
  }
  .col-md-8 {
    width: 65.41667%;
  }
  .col-md-9 {
    width: 74%;
  }
  .col-md-10 {
    width: 82.58333%;
  }
  .col-md-11 {
    width: 91.16667%;
  }
  .col-md-12 {
    width: 100%;
  }
}

@media only screen and (max-width: 870px) {
  .row {
    display: block !important;
  }
  .col-xs-1 {
    width: 5.33333%;
  }
  .col-xs-2 {
    width: 13.91667%;
  }
  .col-xs-3 {
    width: 22.5%;
  }
  .col-xs-4 {
    width: 31.08333%;
  }
  .col-xs-5 {
    width: 39.66667%;
  }
  .col-xs-6 {
    width: 48.25%;
  }
  .col-xs-7 {
    width: 56.83333%;
  }
  .col-xs-8 {
    width: 65.41667%;
  }
  .col-xs-9 {
    width: 74%;
  }
  .col-xs-10 {
    width: 82.58333%;
  }
  .col-xs-11 {
    width: 91.16667%;
  }
  .col-xs-12 {
    width: 100%;
  }
}

@media only screen and (max-width: 540px) {
  .col-sm-1 {
    width: 5.33333%;
  }
  .col-sm-2 {
    width: 13.91667%;
  }
  .col-sm-3 {
    width: 22.5%;
  }
  .col-sm-4 {
    width: 31.08333%;
  }
  .col-sm-5 {
    width: 39.66667%;
  }
  .col-sm-6 {
    width: 48.25%;
  }
  .col-sm-7 {
    width: 56.83333%;
  }
  .col-sm-8 {
    width: 65.41667%;
  }
  .col-sm-9 {
    width: 74%;
  }
  .col-sm-10 {
    width: 82.58333%;
  }
  .col-sm-11 {
    width: 91.16667%;
  }
  .col-sm-12 {
    width: 100%;
  }
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-image: url(galery/bg-header.png);
  height: auto;
  width: auto;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

header h1 {
  font-family: 'Yeseva One', cursive;
  font-size: 80px;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0 6%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul li {
  margin: 0 10px;
}

ul li a {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  display: block;
  color: white;
  text-align: center;
  padding: 45px 16px;
  text-decoration: none;
  border: 2px solid transparent;
}

ul li a:hover {
  border-top-color: #cdcabe;
}

ul li a img {
  height: auto;
  width: auto;
}

ul #logo a {
  padding: 0;
}

ul .nav {
  margin-left: auto;
}

nav {
  position: fixed;
  width: 100%;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

.navchange {
  background-color: white;
  z-index: 10000;
}

.navchange a {
  color: black;
  padding: 20px 16px;
}

.navchange .gone:nth-child(1) {
  display: none;
}

.content-inside {
  padding: 90px 0;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.header-buttons {
  display: inline-block;
  background-color: rgba(38, 12, 12, 0.5);
  padding: 20px 100px;
}

.header-buttons:hover {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.header-buttons a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Yeseva One', cursive;
}

.header-buttons:nth-child(2) {
  background-color: rgba(246, 227, 227, 0.5);
  padding: 20px 100px;
  margin-left: 30px;
}

.header-buttons:nth-child(2):hover {
  background-color: rgba(234, 188, 188, 0.5);
  cursor: pointer;
}

.header-buttons:nth-child(2) a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Yeseva One', cursive;
}

.center-buttons {
  margin-top: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hamburger {
  display: none;
  float: right;
  height: 50px;
  width: 50px;
  background-image: url(galery/burger.png);
  background-size: cover;
  background-position: center;
  margin: 2% 0;
  margin-right: 6%;
}

.gone:nth-child(2) {
  display: none;
}

.blacken {
  -webkit-filter: invert(100%);
}

@media only screen and (max-width: 1204px) {
  .white {
    background: white;
  }
  .gone:nth-child(2) {
    margin-left: 3%;
    display: block;
  }
  .gone:nth-child(1) {
    display: none;
  }
  .hamburger {
    display: block;
  }
  nav {
    padding: 0;
  }
  ul {
    display: none;
    position: absolute;
    z-index: 1000;
    background: white;
    width: 100%;
  }
  ul a {
    color: black !important;
    padding: 30px 0 !important;
    border: none !important;
  }
  ul a:hover {
    border-bottom: 2px solid black !important;
  }
}

.dish {
  background-image: url(galery/dish.png);
  background-size: cover;
  background-position: center;
  width: 500px;
  height: 500px;
}

section {
  height: auto;
  background-image: url(galery/pattern.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 86px 0;
}

.dish-outside {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0;
}

.about {
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about h1 {
  color: #cc9900;
  font-family: 'Yeseva One', cursive;
  font-size: 30px;
}

.about h1::after {
  content: " ";
  display: block;
  height: 40px;
  width: 400px;
  margin: 0 auto;
  margin-top: 20px;
  -webkit-mask-image: url(galery/div.svg);
          mask-image: url(galery/div.svg);
  -webkit-mask-size: 100% auto;
          mask-size: 100% auto;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position-y: center;
  background: #cc9900;
}

.about p {
  color: #4c4c4c;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  padding: 0 50px;
}

.cook {
  display: block;
  height: 221px;
  width: 219px;
  background-image: url(galery/cook.png);
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

.ingredients {
  background-image: url(galery/ing.png);
  background-attachment: fixed;
  height: auto !important;
  background-size: cover;
  background-position: center;
}

.outside-box {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 101px 0;
}

@media only screen and (max-width: 1140px) {
  .outside-box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.inside-box {
  padding: 70px 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 450px;
  width: 70%;
  background: rgba(0, 0, 0, 0.5);
}

.inside-box h2 {
  font-family: 'Yeseva One', cursive;
  color: white;
  font-size: 30px;
  text-align: center;
}

.inside-box h2::after {
  content: " ";
  display: block;
  height: 40px;
  width: 400px;
  margin: 0 auto;
  margin-top: 20px;
  -webkit-mask-image: url(galery/div.svg);
          mask-image: url(galery/div.svg);
  -webkit-mask-size: 100% auto;
          mask-size: 100% auto;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position-y: center;
  background: white;
}

.inside-box p {
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 16px;
  text-align: center;
  line-height: 1.4;
}

.inside-box .allproducts {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.inside-box .products {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid #403936;
  background-size: cover;
  background-position: center;
  display: inline-block;
  margin-top: 80px;
}

.inside-box .products:nth-child(1) {
  background-image: url(galery/weet.png);
}

.inside-box .products:nth-child(2) {
  background-image: url(galery/flower.png);
  margin-left: 32px;
  margin-right: 32px;
}

.inside-box .products:nth-child(3) {
  background-image: url(galery/bread.png);
}

.menu {
  height: auto;
  background-image: url(galery/menu.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 86px 0;
}

.menu h2 {
  font-size: 30px;
  color: #cc9900;
  text-align: center;
  font-family: 'Yeseva One', cursive;
}

.menu h2::after {
  content: " ";
  display: block;
  height: 40px;
  width: 400px;
  margin: 0 auto;
  margin-top: 20px;
  -webkit-mask-image: url(galery/div.svg);
          mask-image: url(galery/div.svg);
  -webkit-mask-size: 100% auto;
          mask-size: 100% auto;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position-y: center;
  background: #cc9900;
}

.menu h3 {
  font-size: 20px;
  color: #cc9900;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.menu p {
  font-family: 'Lato', sans-serif;
}

.special {
  border: 2px solid #cc9900;
  display: block;
  position: relative;
  margin-top: 100px;
}

.special::before {
  font-family: 'Lato', sans-serif;
  content: "Special";
  position: absolute;
  color: white;
  display: block;
  background: #cc9900;
  top: -30px;
  right: -2px;
  text-align: center;
  padding: 5px 17px;
  font-size: 16px;
}

.dish-inside {
  width: 100%;
  font-size: 16px;
  color: #4c4c4c;
  padding: 0 10%;
}

.dish-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.dish-menu:nth-child(n + 2) {
  margin-top: 5%;
}

.dish-price {
  width: 100%;
  display: block;
  border-bottom: 2px solid #cc9900;
}

.price {
  display: inline-block;
}

.price:nth-child(2n) {
  float: right;
}

.reviews {
  background-attachment: fixed;
  background-image: url(galery/bg-review.png);
  background-position: center;
  background-size: cover;
}

.reviews .outside-box {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews .outside-box p {
  font-size: 20px;
  line-height: 1.8;
}

.reviews .inside-box {
  width: 60%;
}

.booking {
  padding: 70px 0;
  height: auto;
  background-image: url(galery/pattern.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.booking h2 {
  color: #cc9900;
  font-family: 'Yeseva One', cursive;
  font-size: 30px;
  text-align: center;
  margin: 0;
}

.booking h2::after {
  content: " ";
  display: block;
  height: 40px;
  width: 400px;
  margin: 0 auto;
  margin-top: 20px;
  -webkit-mask-image: url(galery/div.svg);
          mask-image: url(galery/div.svg);
  -webkit-mask-size: 100% auto;
          mask-size: 100% auto;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position-y: center;
  background: #cc9900;
}

.booking p {
  text-align: center;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  padding: 0 10%;
  line-height: 1.4;
}

.booking-pictures {
  height: 557px;
  width: 270px;
  background-size: cover;
  background-position: center;
}

.booking-pictures:nth-child(1) {
  background-image: url(galery/des-1.png);
}

.booking-pictures:nth-child(2) {
  background-image: url(galery/des-2.png);
}

.number {
  float: right;
}

.number div {
  float: right;
}

.oneblock, .twoblock {
  width: 50%;
  margin-top: 6%;
  display: inline-block;
}

.oneblock:nth-child(2), .twoblock:nth-child(2) {
  float: right;
}

.oneblock:nth-child(2) div, .twoblock:nth-child(2) div {
  float: right;
}

.oneblock input, .twoblock input {
  padding: 5px 10px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

.oneblock input:focus, .twoblock input:focus {
  border-color: #cc9900;
}

.oneblock select, .twoblock select {
  padding: 7px 62px;
}

.form {
  height: 100%;
}

.form-inside {
  height: 100%;
  position: relative;
}

.form-bottom {
  position: absolute;
  bottom: 0;
  padding: 0 10%;
}

.form-bottom label {
  display: block;
  margin-bottom: 4%;
  font-family: 'Yeseva One', cursive;
  color: #cc9900;
  font-size: 16px;
}

.submitoutside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 6%;
}

.submitoutside .submit {
  background: #cc9900;
  color: white;
  border: none;
  padding: 10px 70px;
  margin-top: 30px !important;
  margin: 0 auto !important;
}

.submitoutside .submit:hover {
  background: #997300;
  cursor: pointer;
}

footer {
  padding: 4% 0;
  background-color: #191919;
}

footer h3 {
  color: white;
  text-align: center;
  font-family: 'Yeseva One', cursive;
}

footer h3::after {
  content: " ";
  display: block;
  height: 40px;
  width: 400px;
  margin: 0 auto;
  margin-top: 20px;
  -webkit-mask-image: url(galery/div.svg);
          mask-image: url(galery/div.svg);
  -webkit-mask-size: 100% auto;
          mask-size: 100% auto;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position-y: center;
  background: white;
  width: 240px;
}

footer p {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: white;
}

footer span {
  font-weight: bold;
}

@media only screen and (max-width: 1440px) {
  .booking .remove:nth-child(2) {
    display: none;
  }
}

@media only screen and (max-width: 1245px) {
  .booking .remove:nth-child(1) {
    display: none;
  }
  .form-bottom {
    position: relative;
  }
}

@media only screen and (max-width: 1140px) {
  .dish {
    height: 300px;
    width: 300px;
  }
}

@media only screen and (max-width: 870px) {
  .dish-outside {
    display: none;
  }
  header {
    height: 100vh;
  }
  header h1 {
    font-size: 50px;
  }
  header .header-buttons {
    display: block;
  }
  header .content-inside {
    height: 100%;
  }
  header .header-buttons:nth-child(2) {
    margin-left: 0;
    margin-top: 30px;
  }
  header .center-buttons {
    margin-top: 60px;
  }
}

@media only screen and (max-width: 700px) {
  .ingredients .inside-box p {
    padding: 0 1%;
  }
  .oneblock, .twoblock {
    display: block;
    width: 100%;
    margin: 0;
    float: none;
  }
  .oneblock .wrapper, .twoblock .wrapper {
    float: none !important;
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .oneblock .wrapper div, .twoblock .wrapper div {
    width: auto;
  }
  .oneblock input, .twoblock input {
    width: 300px;
    padding: 5px 0;
  }
  .oneblock select, .twoblock select {
    width: 300px;
  }
  .form-bottom label {
    margin-top: 3%;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */