.dish{
    background-image: url(galery/dish.png);
    background-size: cover;
    background-position: center;
    width: 500px;
    height: 500px;

}
section{
    height: auto;
    background-image: url(galery/pattern.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 86px 0;
}
.dish-outside{
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 100px 0;
}
.about{
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    
    h1{
        color: $color-header;
        @include headertext();
        font-size: $h-s;
        &::after{
            @include div($color-header); 
            }
    }

    p{
        color: $color-text;
        @include text();
        font-size: $t-s;
        padding: 0 50px;
    }

}
.cook{
    display: block;
    height: 221px;
    width: 219px;
    background-image: url(galery/cook.png);
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    
}