.booking{
    padding: 70px 0;
    height: auto;
    background-image: url(galery/pattern.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    h2{
        color: $color-header;
        @include headertext();
        font-size: $h-s;
        text-align: center;
        &::after{
            @include div($color-header);
        }
        margin: 0;
    }
    p{
        text-align: center;
        font-size: $t-s;
        @include text();
        padding: 0 10%;
        line-height: 1.4;
    }
}
.booking-pictures{
    height: 557px;
    width: 270px;
    background-size: cover;
    background-position: center;
    &:nth-child(1){
        background-image: url(galery/des-1.png);
    }
    &:nth-child(2){
        background-image: url(galery/des-2.png);
    }

}

.number{
    float: right;
}
.number div{
    float: right;
}
.oneblock, .twoblock{
    width: 50%;
    margin-top: 6%;
    display: inline-block;
    &:nth-child(2){
       float: right;
       & div{
           float: right;
       }
    }
    input{
        padding: 5px 10px;
        @include text();
        font-size: $t-s;
        &:focus{
            border-color: $color-header;
        }
    }
    select{
        padding: 7px 62px;
    }
}
.form{
    height: 100%;
}
.form-inside{
    height: 100%;
    position: relative;
}
.form-bottom{
    position: absolute;
    bottom: 0;
    padding: 0 10%;
    label{
        display: block;
        margin-bottom: 4%;
        @include headertext();
        color: $color-header;
        font-size: $t-s;
    }
}
.submitoutside{
    display: flex;
    justify-content: center;
    margin-top: 6%;
    .submit{
        background: $color-header;
        color: white;
        border: none;
        padding: 10px 70px;
        margin-top: 30px!important;
        margin: 0 auto!important;
        &:hover{
            background: darken($color-header, 10%);
            cursor: pointer;
        }
    }
}
