footer{
    padding: 4% 0;
    background-color: #191919;
    h3{
        color: white;
        text-align: center;
        @include headertext();
        &::after{
            @include div(white);
            width: 240px;
        }
    }
    p{
        text-align: center;
        @include text();
        font-size: $t-s;
        color:white;
    }
    span{
        font-weight: bold;
    }
}