.container{
    padding-left: 13%;
    padding-right: 13%;
}
%clearfix:after {
	display:block;
	clear:both;
	content:'';
}


.clear:before, .clear:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}

.clear:after {
    clear: both;
}
//----- Grid System
$grid-spacing:3%;

.row {
    display: flex;
	@extend %clearfix;

	& + & {
		margin-top:$grid-spacing;
	}
}
$md: 1140px;
@media only screen and (max-width: 1140px) {
    .row{display: block!important;}
}
[class^="col-"] {
    
	float:left;
	margin-right:$grid-spacing;
    box-sizing:border-box;

	&:last-child {
		margin-right:0%;
	}
}

@for $i from 1 to 13{
    $columns: $grid-spacing * ( 13 - $i);

    .col-lg-#{$i}{
        @if $i == 12{
            width: 100%;
        }@else{
            width:(100% / (12 / $i) ) - ($columns / 12);
        }
    }
}
@media only screen and (max-width: 1440px) {
    @for $i from 1 to 13{
        $columns: $grid-spacing * ( 13 - $i);
    
        .col-xl-#{$i}{
            @if $i == 12{
                width: 100%;
            }@else{
                width:(100% / (12 / $i) ) - ($columns / 12);
            }
        }
    }
}
@media only screen and (max-width: 1245px) {
    @for $i from 1 to 13{
        $columns: $grid-spacing * ( 13 - $i);
    
        .col-xm-#{$i}{
            @if $i == 12{
                width: 100%;
            }@else{
                width:(100% / (12 / $i) ) - ($columns / 12);
            }
        }
    }
}
@media only screen and (max-width: 1140px) {
    .row{display: block!important;}
    @for $i from 1 to 13{
        $columns: $grid-spacing * ( 13 - $i);
    
        .col-md-#{$i}{
            @if $i == 12{
                width: 100%;
            }@else{
                width:(100% / (12 / $i) ) - ($columns / 12);
            }
        }
    }
}
@media only screen and (max-width: 870px) {
    .row{display: block!important;}
    @for $i from 1 to 13{
        $columns: $grid-spacing * ( 13 - $i);
    
        .col-xs-#{$i}{
            @if $i == 12{
                width: 100%;
            }@else{
                width:(100% / (12 / $i) ) - ($columns / 12);
            }
        }
    }
}
@media only screen and (max-width: 540px) {
    @for $i from 1 to 13{
        $columns: $grid-spacing * ( 13 - $i);
    
        .col-sm-#{$i}{
            @if $i == 12{
                width: 100%;
            }@else{
                width:(100% / (12 / $i) ) - ($columns / 12);
            }
        }
    }
}


