
body{
    margin: 0;
    padding: 0;
}

header{
    background-image: url(galery/bg-header.png);
    height: auto;
    width: auto;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    h1{
        font-family: 'Yeseva One', cursive;
        font-size: 80px;
        text-align: center;
    }
}
ul {

    list-style-type: none;
    margin: 0;
    padding: 0 6%;
    overflow: hidden;
    display: flex;
    align-items: center;
    li{
        margin: 0 10px;
        a{
            @include text();
            font-size: $t-s;
            display: block;
            color: white;
            text-align: center;
            padding: 45px 16px;
            text-decoration: none;
            border: 2px solid transparent;
            &:hover{
                border-top-color: #cdcabe;
            }
            img{
                height: auto;
                width: auto;
            }
        }
    }
    #logo a{
        padding: 0;
    }
    .nav{
        margin-left: auto;
    }
}
nav{
    position: fixed;
    width: 100%;
    transition: background-color 0.2s ease;
}
.navchange{
    background-color: white;
    z-index: 10000;

 
    & a{
        color: black;
        padding: 20px 16px;
    }
    & .gone:nth-child(1){
        display: none;
    }
}
.content-inside{
    padding: 90px 0;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
$button-height: 20px;
$button-width: 100px;
.header-buttons{
    display: inline-block;
    @include button($button-height, $button-width, rgba(38, 12, 12, 0.5));
}
.header-buttons:nth-child(2){
    @include button($button-height, $button-width, rgba(246, 227, 227, 0.5));
    margin-left: 30px;
}
.center-buttons{
    margin-top: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger{
    display: none;
    float: right;

    height: 50px;
    width: 50px;
    background-image: url(galery/burger.png);
    background-size: cover;
    background-position: center;
    margin: 2% 0;
    margin-right: 6%;

}
.gone:nth-child(2){
    display: none;
        
}
.blacken{
    -webkit-filter: invert(100%);
}
@media only screen and (max-width: 1204px) {
    .white{
        background: white;
    }
    .gone:nth-child(2){
    margin-left: 3%;
    display: block;
    }
    .gone:nth-child(1){
       display: none;
        }
    .hamburger{
    display: block;
    }
    nav{
    padding: 0;
    }
    ul{
    display: none;
    position: absolute;
    z-index: 1000;
    background: white;
    width: 100%;
    & a{
        color: black!important;
        padding: 30px 0!important;
        border: none!important;
        &:hover{
            border-bottom: 2px solid black!important;
        }
      
    }
    }

}