.ingredients{
    background-image: url(galery/ing.png);
    background-attachment: fixed;
    height: auto!important;
    background-size: cover;
    background-position: center;
}
.outside-box{
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 101px 0;
}
@media only screen and (max-width: $md) {
    .outside-box{
        justify-content: center;
    }
}
.inside-box{
    padding: 70px 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 70%;
    background: rgba(0, 0, 0, 0.5);
    h2{
        @include headertext();
        color: white;
        font-size: $h-s;
        text-align: center;
        &::after{
            @include div(white);
        }
    }
    p{
        @include text();
        color: white;
        font-size: $t-s;
        text-align: center;
        line-height: 1.4;
    }
    .allproducts{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .products{
        display: block;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 5px solid #403936;
        background-size: cover;
        background-position: center;
        display: inline-block;
        margin-top: 80px;
        &:nth-child(1){
            background-image: url(galery/weet.png);
        }
        &:nth-child(2){
            background-image: url(galery/flower.png);
            margin-left: 32px;
            margin-right: 32px;
        }
        &:nth-child(3){
            background-image: url(galery/bread.png);
        }
    }
}