.menu{
    height: auto;
    background-image: url(galery/menu.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 86px 0;
    h2{
        font-size: $h-s;
        color: $color-header;
        text-align: center;
        @include headertext();
        &::after{
            @include div($color-header);
        }
    }
    h3{
        font-size: $h-s - 10;
        color: $color-header;
        text-align: center;
        @include text();
    }
    p{
        @include text();
    }
}

    .special{
        border: 2px solid $color-header;
        display: block;
        position: relative;
        margin-top: 100px;
        &::before{
            @include text();
            content: "Special";
            position: absolute;
            color: white;
            display: block;
            background: $color-header;
            top: -30px;
            right: -2px;
            text-align: center;
            padding: 5px 17px;
            font-size: $t-s;
        }
    }


.dish-inside{
    width: 100%;
    font-size: $t-s;
    color: $color-text;
    padding: 0 10%;
}
.dish-menu{
    display: flex;
    justify-content: center;
    width: 100%;
}
.dish-menu:nth-child(n + 2){
    margin-top: 5%;
}
.dish-price{
    width: 100%;
    display: block;
    border-bottom: 2px solid $color-header;
}
.price{
    display: inline-block;
    &:nth-child(2n){
        float: right;
    }
}