@mixin headertext(){
    font-family: 'Yeseva One', cursive;
}
@mixin text(){
    font-family: 'Lato', sans-serif;
}
@mixin button($height, $width, $bg:green, $texts:18px, $textc:white) {

    background-color: $bg;
    padding: $height $width;
    &:hover{
        background-color: darken($bg, 10%);
        cursor: pointer;
    }
    a{
        color: $textc;
        font-size: $texts;
        text-decoration: none;
        text-transform: uppercase;
        @include headertext();
    }
}
@mixin div($color){
    content: " ";
    display:block;
    height: 40px;
    width: 400px;
    margin: 0 auto;
    margin-top: 20px;
    mask-image: url(galery/div.svg);
    mask-size: 100% auto;
    mask-repeat: no-repeat;
    -webkit-mask-position-y: center;
    background: $color;
}
@mixin background(){
    
}
$color-header: #cc9900;
$color-text: #4c4c4c;
$h-s: 30px;
$t-s: 16px;
