@media only screen and (max-width: 1440px) {
    .booking .remove:nth-child(2){
        display: none;
    }
}
@media only screen and (max-width: 1245px) {
    .booking .remove:nth-child(1){
        display: none;
    }
    .form-bottom{
        position: relative;
    }
}
@media only screen and (max-width: 1140px) {
    .dish{
        height: 300px;
        width: 300px;
    }

}
@media only screen and (max-width: 870px) {
    .dish-outside{
        display: none;
    }
    header{
        height: 100vh;
        h1{
            font-size: 50px;

        }
        .header-buttons{
            display: block;
        }
        .content-inside{
            height: 100%;
        }
        .header-buttons:nth-child(2){
            margin-left: 0;
            margin-top: 30px;
        }
        .center-buttons{
            margin-top: 60px;
        }
    }

}
@media only screen and (max-width: 700px) {
    .ingredients .inside-box p{
        padding: 0 1%;
    }
    .oneblock, .twoblock{
        display: block;
        width: 100%;
        margin: 0;
        float: none;
        .wrapper{
            float: none!important;
            width: 100%;
            margin: auto;
            display: flex;
            justify-content: center;
            div{
                width: auto;
            }
        }
        input{
            width: 300px;
            padding: 5px 0;
        }
        select{
            width: 300px;
        }
    }
    .form-bottom label{
        margin-top: 3%;
        text-align: center;
    }
}