.reviews{
    background-attachment: fixed;
    background-image: url(galery/bg-review.png);
    background-position: center;
    background-size: cover;
    .outside-box{
        justify-content: center;
        p{
            font-size: 20px;
            line-height: 1.8;
        }
    }
    .inside-box{
        width: 60%;
    }
}